<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="https://kit.fontawesome.com/ed84511727.js" crossorigin="anonymous"></script>
        <title>Homepage</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">CHT</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  {% if log_status == False %}
                    {% block content1 %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>Membership
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="login">Login</a></li>
                      <li><a class="dropdown-item" href="register">Register</a></li>
                    </ul>
                </li>
                    {% endblock content1 %}
                {% endif %}
                </ul>
                {% if log_status == True %}
                    {% block content2 %}
                        Hello, {{ user_status[0] }} | <a href="myposts">My Posts</a> | <a href="logout">Logout</a>
                    {% endblock content2 %}
                {% endif %}
              </div>
            </div>
          </nav>
          {% if log_status == True %}
            {% block content3 %}
            <div class="orsomething" style="margin-left: 5%;">
              <div class="row">
                <div class="col">
                  <h3>Create Post</h3>
                </div>
              </div>
              <form action="createpost" method="post">
                <div class="row">
                  <div class="col-3"><label for="p_title">Post Title: </label> <input type="text" name="p_title" id="p_title" required></div>
                </div>
                <div class="row">
                  <div class="col-3"><label for="p_text">Post Text: </label> <textarea style="resize: none;" name="p_text" id="p_text" cols="50" rows="6" required maxlength="300"></textarea></div>
                </div>
                <div class="row">
                  <div class="col-3"><input type="submit" class = "btn btn-primary" value="Create!" style="margin-top: 32px;"></div>
                </div>
              </form>
          </div>
            {%  endblock content3 %}
          {% endif %}
    </body>
</html>